body {
  margin: auto;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .navbar {
  background-color: blue;
} */


.fac-image{
  height: 200px;
  width: 100%;
  margin: auto;
  border: 1px solid black;
}

.col-2 {
  color: white;
  background-color: #22577a;
  min-height: 100vh;
}

.col-10 {
  background-color: lightgray;
}
/* .js-plotly-plot {
  width: 90vw;
  height: 50vh;
} */


.side-panel {
  color: white;
  padding-top: 20px;
  height: 100vh;
}

.table {
  font-size: 16px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}
